doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title EuDigital
    link(rel="stylesheet", href="/stylesheets/base.css")
    link(rel="stylesheet", href="/stylesheets/index.css")
    link(rel="stylesheet", href="/stylesheets/login.css")
    link(rel="stylesheet", href="/stylesheets/mainPage.css")
    link(rel="stylesheet", href="/stylesheets/itemPage.css")
    link(rel='icon', href='/images/icon.png', type='image/png')
    block head 
  body
    block content