extends layout


block content
    section.prompt(style="width: 400px; margin: auto;")
        img(src="/images/icon.png", alt="Logo",width="100", height="100")
        form(action="/auth/login", method="post")
            section
            label(for="username") Nome de utilizador
            input#username(name="username", type="text", autocomplete="username", required, autofocus)
            section
            label(for="password") Password
            input#password(name="password", type="password", autocomplete="password", required)
            button(type="submit") Log In
        hr
        p.help
            | Ainda não tens conta? 
            a(href="/auth/signup") Sign up
        footer.info
        p 
            | Desenvolvido por Group15
        p 
            | No âmbito de EngWeb2025

