extends layout 

block content 
  .w3-card-4
    header.w3-container.w3-orange
      h2 Film Form
    
    form.w3-container(method="POST" action="/filmes/edit/" + filme.title)
      fieldset
        legend Metadata
        label Title
        input.w3-input.w3-round(type="text", name="title", value=filme.title)
        label Year
        input.w3-input.w3-round(type="text", name="year", value=filme.year)
      
      button.w3-btn.w3-orange.w3-mb-2(type="submit") Editar