link(rel="stylesheet", href="/stylesheets/style.css")

block content
    .w3-card-4
        header.w3-container.w3-teal
            h1 
                span Lista de Entidades
        .w3-container
            if clist && clist.length > 0
                table.w3-table-all
                    tr
                        th Entidade
                    each c in clist 
                        tr
                            td= c
            else
                p Nenhuma entidade encontrada.